# Node modules (should be installed in the container)
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# OS-related files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker-related
Dockerfile
.dockerignore

# Testing and coverage
coverage
*.lcov

# Environment files
.env
.env.*  # Ignore all environment files, adjust as needed

# Editor directories and files
.vscode
.idea
*.swp
*.swo

# Logs
logs
*.log

# Build output
dist
build
tmp
temp

# Cache
.cache
.next
.out